
    .series-card{
    width: 350px;
    margin: 30px auto;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px; 
    padding: 30px;
    }

    .series-text{
        font-weight: bold;
    }